* {
    font-family: "Berkshire Swash", serif !important;
}

.rotate {
    animation: spin 60s linear infinite;
}

.negarotate {
    animation: negaspin 60s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes negaspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.card {
    height: 115vh;
    width: 115vh;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.active .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-front *, .card-back * {
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.card-back {
    transform: rotateY(180deg);
}